@using DCT1205.Entity;
@model EditEmployeeViewModel

<div class="card">
    <div class="card-body">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="Employee" asp-action="Index">All Employees</a></li>
                <li class="breadcrumb-item active" aria-current="page">Edit Employee</li>
            </ol>
        </nav>
        <div class="row">
            <form method="post" asp-action="Edit" enctype="multipart/form-data">

                <div class="col-md-12 table-responsive-md">
                    <div class="form-row">
                        <div class="col-2 form-group">
                            <label asp-for="@Model.EmployeeNo" class="form-label"></label>
                        </div>
                        <div class="col-3 form-group">
                            <input asp-for="@Model.EmployeeNo" class="form-control"/>
                            <span asp-validation-for="@Model.EmployeeNo" class="text-danger"></span>
                        </div>
                        <div class="col-2 form-group"></div>
                        <div class="col-2 form-group">
                            <label asp-for="@Model.DateJoined" class="form-label"></label>
                        </div>
                        <div class="col-3 form-group">
                            <input asp-for="@Model.DateJoined"class="form-control"/>
                            <span asp-validation-for="@Model.DateJoined" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-2 form-group">
                            <label asp-for="@Model.FirstName" class="form-label"></label>
                        </div>
                        <div class="col-3 form-group">
                            <input asp-for="@Model.FirstName" class="form-control" />
                            <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
                        </div>
                        <div class="col-2 form-group">
                            <input asp-for="@Model.MiddleName" class="form-control" placeholder="Middle name" />

                        </div>
                        <div class="col-2 form-group">
                            <label asp-for="@Model.LastName" class="form-label"></label>
                        </div>
                        <div class="col-3 form-group">
                            <input asp-for="@Model.LastName" class="form-control" />
                            <span asp-validation-for="@Model.LastName" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-2 form-group">
                            <label asp-for="@Model.Gender" class="form-label"></label>
                        </div>
                        <div class="form-check col-md-3">
                            <select class="form-control" asp-for="@Model.Gender">
                                <option>Male</option>
                                <option>Female</option>
                            </select>
                            <span asp-validation-for="Gender" class="text-danger"></span>
                        </div>
                        <div class="col-2 form-group"></div>
                        <div class="col-2 form-group">
                            <label asp-for="@Model.DOB" class="form-label"></label>
                        </div>
                        <div class="col-3 form-group">
                            <input asp-for="@Model.DOB" class="form-control" />
                            <span asp-validation-for="@Model.DOB" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-2 form-group">
                            <label asp-for="@Model.NationalInsuranceNo" class="form-label"></label>
                        </div>
                        <div class="col-3 form-group">
                            <input asp-for="@Model.NationalInsuranceNo" class="form-control" />
                            <span asp-validation-for="@Model.NationalInsuranceNo" class="text-danger"></span>
                        </div>
                        <div class="col-2 form-group"></div>
                        <div class="col-2 form-group">
                            <label asp-for="@Model.Email" class="form-label"></label>
                        </div>
                        <div class="col-3 form-group">
                            <input asp-for="@Model.Email" class="form-control" />
                            <span asp-validation-for="@Model.Email" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-2 form-group">
                            <label asp-for="@Model.Phone" class="form-label"></label>
                        </div>
                        <div class="col-3 form-group">
                            <input asp-for="@Model.Phone" class="form-control" />
                            <span asp-validation-for="@Model.Phone" class="text-danger"></span>
                        </div>
                        <div class="col-2 form-group"></div>
                        <div class="col-2 form-group">
                            <label asp-for="@Model.PaymentMethod" class="form-label"></label>
                        </div>
                        <div class="col-3 form-group">
                            <select asp-for="@Model.PaymentMethod" asp-items="Html.GetEnumSelectList<PaymentMethod>()" class="form-control"></select>
                            <span asp-validation-for="@Model.PaymentMethod" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-2 form-group">
                            <label asp-for="@Model.StudentLoan" class="form-label"></label>
                        </div>
                        <div class="col-3 form-group">
                            <select asp-for="@Model.StudentLoan" asp-items="Html.GetEnumSelectList<StudentLoan>()" class="form-control"></select>
                            <span asp-validation-for="@Model.Phone" class="text-danger"></span>
                        </div>
                        <div class="col-2 form-group"></div>
                        <div class="col-2 form-group">
                            <label asp-for="@Model.UnionMember" class="form-label"></label>
                        </div>
                        <div class="col-3 form-group">
                            <select asp-for="@Model.UnionMember" asp-items="Html.GetEnumSelectList<UnionMember>()" class="form-control"></select>
                            <span asp-validation-for="@Model.UnionMember" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-2">
                            <label asp-for="@Model.Designation"></label>
                        </div>
                        <div class="form-group col-md-3">
                            <input asp-for="@Model.Designation" class="form-control" placeholder="Enter Role..." />
                            <span asp-validation-for="@Model.Designation" class="text-danger"></span>
                        </div>
                        <div class="col-md-2"></div>
                        <div class="form-group col-md-1">
                            <label asp-for="@Model.ImageUrl"></label>
                        </div>
                        <div class="form-group col-md-4">
                            <div class="btn btn-primary btn-icon-text">
                                <i class="fas fa-cloud-upload-alt"></i>
                                <input asp-for="@Model.ImageUrl" type="file" value="Upload" />
                                <span asp-validation-for="@Model.ImageUrl" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.Address"></label>
                        <input asp-for="@Model.Address" class="form-control" placeholder="Enter Address.." />
                        <span asp-validation-for="@Model.Address" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="@Model.City"></label>
                        <input asp-for="@Model.City" class="form-control" placeholder="Enter City.." />
                        <span asp-validation-for="@Model.City" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="@Model.Postcode"></label>
                        <input asp-for="@Model.Postcode" class="form-control" placeholder="Enter Postcode.." />
                        <span asp-validation-for="@Model.Postcode" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">

                    <button type="submit" class="btn btn-rounded btn-primary float-left"><i class="fas fa-plus-square" style="margin-right:0.7em"></i>Save</button>
                    <a asp-action="index" class="btn btn-rounded btn-success float-right"><i class="fas fa-caret-square-left" style="margin-right:0.7em"></i>Back</a>
                    <br />
                    <br />
                    <br />

                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}