@model IEnumerable<EmployeeIndexViewModel>

<div class="card">
    <div class="card-body">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">All Employees</li>
            </ol>
        </nav>
        <div class="row">
            <div class="col-md-12 table-responsive-md">
                <a class="btn btn-xs btn-outline-success float-md-right" asp-action="Create"> New Employee</a>
            <table class="table table-strip table-dark">
                <thead>
                    <tr>
                        <th>Employee No</th>
                        <th>Full Name</th>
                        <th>Gender</th>
                        <th>Date Joined</th>
                        <th>Designation</th>
                        <th>City</th>
                        <th>Image</th>
                        <th class="text-warning">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.EmployeeNo</td>
                        <td>@item.FullName</td>
                        <td>@item.Gender</td>
                        <td>@item.DateJoined.ToShortDateString()</td>
                        <td>@item.Designation</td>
                        <td>@item.City</td>
                        <td>
                            <img alt="image" src="@Url.Content(item.ImageUrl)" />
                        </td>
                        <td>
                            <a class="text-primary" asp-action="Edit" asp-route-id="@item.Id">
                                <i class="fas fa-edit"></i> Edit
                            </a>
                            <a class="text-success" asp-action="Detail" asp-route-id="@item.Id">
                                <i class="fas fa-bars"></i> Detail
                            </a>
                            <a class="text-danger" asp-action="Delete" asp-route-id="@item.Id">
                                <i class="far fa-trash-alt"></i> Delete
                            </a>
                        </td>
                        </tr>
                    }
                </tbody>
            </table>
            </div>
        </div>
    </div>
</div>